
<div class="container">
<div class="row justify-content-center text-center align-items-center">
    <div class="col-xl-8 col-lg-9 col-md-10 layer-3 aos-init aos-animate">
        <div class="display-3">
            "select"
        </div>
        <p class="lead px-xl-5">
            人間は2択以上の難しい問題を選択しなくていけません。<br/>
            
一人では決められない…。<br/>
他の意見を参考にしたい…。<br/>
むしろだれか決めて…。<br/>
そういったときに投稿する。
        </p>
        
        <div class="container">
<div class="row justify-content-center text-center align-items-center">
        <div class="col-xl-9">
            <h1 id:'main'>優柔普段用SNS</h1>
        </div>
   
    </div>
    <%= link_to "sing_in",user_session_path,class:'btn btn-lg btn-white mx-1' %>
    <%= link_to "sing_up",new_user_registration_path,class:'btn btn-lg btn-white mx-1' %>
        </div>
</div>
